{% extends "app/base.html" %}
{%load static%}
{% block title %} {{post.titulo}} {%endblock title%}

{%block content%}
<div class="container">
    <h1 class="mt-3">{{post.titulo}}</h1>
    <div class="row mt-5">
        <div class="col-md-6 mb-5">
                <img src="{{ post.imagem.url }}" class="img-fluid">
        </div>
        <div class="col-md-6 mb-5 pt-5">
                <p>{{ post.texto }}</p>
                <p><b>Data de postagem<b> - {{ post.data }}</p>
            </a>
        </div>
    </div>
</div>
{%endblock content%}